<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read me</title>
    <link rel="stylesheet" href="/static/Read me.css">
</head>
<body>
    
    <header id="navbar">
        <h1>SDV</h1>
        <ul>
            <li><a href="{{ url_for ('home') }}"> Back Home</a>
            </li>
        </ul>
    </header>

    <div class="container">
        <h1>My and myself is this</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio quam animi corporis sapiente aspernatur minima, quo repudiandae a quos.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio quam animi corporis sapiente aspernatur minima, quo repudiandae a quos.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio quam animi corporis sapiente aspernatur minima, quo repudiandae a quos.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio quam animi corporis sapiente aspernatur minima, quo repudiandae a quos.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio quam animi corporis sapiente aspernatur minima, quo repudiandae a quos.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio quam animi corporis sapiente aspernatur minima, quo repudiandae a quos.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio quam animi corporis sapiente aspernatur minima, quo repudiandae a quos.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio quam animi corporis sapiente aspernatur minima, quo repudiandae a quos.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio quam animi corporis sapiente aspernatur minima, quo repudiandae a quos.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio quam animi corporis sapiente aspernatur minima, quo repudiandae a quos.

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio quam animi corporis sapiente aspernatur minima, quo repudiandae a quos.
        </p>
    </div>

</body>
</html>