<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Congralation! Your Submitted!</title>
    <link rel="stylesheet" href="/static/submit.css">
</head>
<body>
    
    <Button><a href="{{ url_for ('home') }}">Back to Home</a></Button>
    
    <div class="container">
        <h1>You Submitted Our Website</h1>
        <p>Thak You!</p>
    
    </div>
    

   
</body>
</html>